section {
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
   grid-template-rows: auto;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 40%;
    margin-top: 40px;
    
  }
  mat-card {
    margin: 10px 0;
    /* border: 1px solid; */
  border-radius: 10px;
  
  }
  
  #btnReponse + #app {
    background: blue;
  }
  
  